.content_about {
	width: 100%;
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

.about-header {
	background: url('../../images/about.jpg') center center;
	height: 460px;
	background-size: cover;
	color: white;
}

.about_container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	font-weight: 500;
}

.about_title {
	font-size: 50px;
	padding-bottom: 40px;
	color: white;
}
.about_info {
	font-size: 20px;
}

.about_overlay {
	background: #002042c7;
	height: 100%;
}

.contact_link {
	border: 1px solid white;
	background: #0674e7;
	color: white;
	padding: 9px 27px;
	font-size: 24px;
	margin-top: 18px;
}

.about_information {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	padding: 35px 35px;
}

.about-img {
	padding-top: 15px;
	padding-bottom: 15px;
}
.about-img img {
	width: 100%;
}

.about_information_web {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.content_info-about {
	padding-top: 30px;
	padding-bottom: 40px;
}
.content_info-about p {
	line-height: 26px;
}
.about-img img {
	border-radius: 9px;
	border: 1px solid #c3c3c3;
}
.about-mision {
	display: flex;
	padding: 0 87px;
	padding-bottom: 45px;
}
.about-vision {
	display: flex;
	padding: 0 87px;
	padding-bottom: 45px;
}
.mision-left img {
	max-width: 450px;
	border-radius: 11px;
	border: 2px solid #c3c3c3;
	box-shadow: 4px 3px 7px 0px #00000066;
}
.vision-right img {
	max-width: 450px;
	border-radius: 11px;
	border: 2px solid #c3c3c3;
	box-shadow: 4px 3px 7px 0px #00000066;
}
.mision-right {
	padding-left: 35px;
}
.vision-left {
	padding-right: 35px;
}
.title_mision {
	font-size: 25px;
	padding-bottom: 15px;
	font-weight: 600;
	color: #0674e7;
}
.title_vision {
	font-size: 25px;
	padding-bottom: 15px;
	font-weight: 600;
	color: #0674e7;
}

.info_mision {
	line-height: 26px;
}
.info_vision {
	line-height: 26px;
}

@media only screen and (max-width: 1200px) {
	.about_container {
		padding-left: 25px;
	}
	.content_info-about {
		padding: 20px 20px;
	}
}

@media only screen and (max-width: 960px) {
	.about-header {
		height: 350px;
	}
}

@media only screen and (max-width: 800px) {
	.about_information_web {
		padding-bottom: 35px;
	}
	.about-mision {
		flex-direction: column-reverse;
		padding: 0 20px;
		padding-bottom: 20px;
	}
	.mision-right {
		padding-left: 0;
		padding-bottom: 15px;
	}
	.vision-left {
		padding-right: 0px;
		padding-bottom: 15px;
	}
	.about-vision {
		flex-direction: column;
		padding: 0 35px;
	}

	.mision-left img,
	.vision-right img {
		max-width: 100%;
	}
}

@media only screen and (max-width: 576px) {
	.about-header {
		height: initial;
	}
	.about_overlay {
		padding: 30px 15px;
	}
	.about_title {
		font-size: 35px;
		padding-bottom: 20px;
	}
}
@media only screen and (max-width: 480px) {
	.about-header {
		height: initial;
	}
	.about_overlay {
		padding: 30px 15px;
	}
	.about_title {
		font-size: 35px;
		padding-bottom: 20px;
	}

	.contact_link {
		font-size: 18px;
	}
}
