.content_home {
	width: 100%;
}

.cover-img {
	width: 100%;
}

.overlay {
	position: absolute;
	background-color: #00000082;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 2;
}

.content_swiper_slider {
	margin: auto;
	width: 100%;
}

.content-gallery {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	height: 500px;
	align-items: center;
	display: flex;
	font-family: 'Roboto', sans-serif;
	justify-content: space-between;
}

.cover_back {
	background: url('../../images/cover-background.jpg') center center;
	background-size: cover;
}

.line_graph {
	background: black;
	margin: 10px 0;
	width: 150px;
	height: 3px;
}

.gallery_title {
	font-size: 50px;
	color: #0674e7;
	font-weight: 700;
}

.button_link button {
	background: #0674e7;
	border: 0;
	font-size: 38px;
	padding: 5px 15px;
	border-radius: 5px;
	color: white;
	cursor: pointer;
}

.title_first {
	text-align: center;
	font-size: 33px;
	padding-bottom: 23px;
	padding-top: 15px;
	color: #777777;
	font-family: 'Roboto', sans-serif;
}

/* styles information */

.home_information {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding-bottom: 65px;
	padding-top: 49px;
}
.home_information-content {
	display: flex;
	justify-content: space-around;
}

.info_box {
	width: 100%;
	max-width: 250px;
	font-family: 'Roboto', sans-serif;
	transition: 3s;
}

.back-content-img {
	display: flex;
	width: 100%;
	height: 100%;
	background: #0674e7c4;
	justify-content: center;
	align-items: center;
	transition: 2s;
}
.img-content-home img {
	width: 85px;
	transition: 2s;
}
.img_back_home:hover .back-content-img {
	height: 50px;
}

.img_back_home:hover img {
	width: 50px;
}

.img_back_home {
	height: 250px;
	background: blue;
	display: flex;
	padding: 15px;

	flex-direction: column-reverse;
}

.img_back_home.one {
	background: url('../../images/homeser1.jpg') center center;
	background-size: cover;
	transition: 2s;
}
.img_back_home.two {
	background: url('../../images/homeser2.jpg') center center;
	background-size: cover;
}
.img_back_home.three {
	background: url('../../images/homeser3.jpg') center center;
	background-size: cover;
}
.img_back_home.four {
	background: url('../../images/homeser4.jpg') center center;
	background-size: cover;
}

.info_content {
	text-align: center;
}
.info_content p {
	font-size: 18px;
	font-weight: 700;
	color: #0674e7;
	padding-bottom: 15px;
	padding-top: 11px;
}

/* styles information */

@media only screen and (max-width: 1200px) {
	.gallery_info {
		padding-left: 40px;
	}
	.gallery_img img {
		width: 400px;
	}
	.home_information-content {
		flex-wrap: wrap;
	}
}

@media only screen and (max-width: 768px) {
	.gallery_title {
		font-size: 35px;
	}
	.gallery_img img {
		width: 300px;
	}
	.content-gallery {
		height: 350px;
	}
	.info_content {
		padding-bottom: 10px;
	}
	.home_information {
		padding-bottom: 45px;
	}
}
@media only screen and (max-width: 576px) {
	.gallery_title {
		font-size: 35px;
		text-shadow: 4px 1px 0px white;
		text-align: center;
		padding: 0 15px;
	}
	.gallery_info {
		padding: 0 40px;
		padding-bottom: 25px;
	}
	.gallery_img img {
		width: 100%;
		padding: 5px 15px;
	}
	.content-gallery {
		flex-direction: column-reverse;
		justify-content: center;
		height: initial;
	}
	.button_link button {
		font-size: 25px;
	}
	.info_box {
		max-width: 200px;
	}
	.img_back_home {
		height: 200px;
	}
	.info_content p {
		font-size: 16px;
		padding-bottom: 10px;
	}
	.title_first {
		font-size: 25px;
	}
	.info_content {
		padding-bottom: 25px;
	}
	.home_information {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

@media only screen and (max-width: 480px) {
	.gallery_title {
		font-size: 25px;
	}
	.info_box {
		max-width: 160px;
	}
	.img_back_home {
		height: 160px;
	}
}
