#videoRgb {
	width: 100%;
	object-fit: cover;
	height: 514px;
}
.header_home {
	position: relative;
}
.content_home {
	width: 100%;
}

.cover-img {
	width: 100%;
}

.element-home {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	color: white;
	font-size: 53px;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}

.overlay {
	position: absolute;
	background-color: #00000082;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 2;
}

@media only screen and (max-width: 1400px) {
	.logo-lettering {
		top: 20%;
	}
	.logo-psd {
		max-width: 405px;
	}
}
@media only screen and (max-width: 960px) {
	.logo-psd {
		max-width: 356px;
	}
}
@media only screen and (max-width: 768px) {
	.logo-psd {
		max-width: 310px;
	}
	.logo-lettering {
		position: absolute;
		top: 33%;
		left: 35%;
	}
	.read-me a {
		margin-right: 20%;
	}

	.details_info-test p {
		font-size: 14px;
	}
}
@media only screen and (min-width: 576px) {
	.content_home-global.mobile {
		display: none;
	}
}

@media only screen and (max-width: 576px) {
	.content_home-global.desktop {
		display: none;
	}

	.content_home-global {
		height: auto;
	}

	.content_img {
		background-color: none;
		width: inherit;
		padding: 0;
		height: auto;
		position: relative;
		background: none;
		background-size: cover;
	}
	.content_img img {
		width: 100%;
	}
	.content_home {
		position: relative;
	}
	.logo-lettering {
		position: absolute;
		top: 33%;
		left: 46%;
		right: 7%;
	}
}
