.header-service {
	background: url('../../../images/about.jpg') no-repeat center;
	background-size: cover;
	height: 190px;
	font-family: 'Montserrat', sans-serif;
}

.content_service-detail {
	width: 100%;
	text-align: center;
}

.header-content {
	height: 100%;
	background: #141415b3;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	color: white;
}

.title-event-place {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	color: white;
	display: flex;
	margin-top: 10px;
}
.title-event-place p {
	/* display: inline-block; */
	font-size: 22px;
	/* border-bottom: 2px solid #1299f6; */
	color: white;
	width: 100%;
	text-align: left;
	padding-left: 9px;
	background: #0674e7;
	padding-top: 7px;
	padding-bottom: 7px;
}
.line_color {
	width: 15px;
	background-color: #73b8ff;
}

.content-title {
	font-size: 38px;
}
.img-small {
	margin: 8px 8px;
	position: relative;
	cursor: pointer;
}
.img-small:hover .overlay_service_one {
	display: none;
}

.img-small img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 5px;
}

.overlay_service_one {
	position: absolute;
	background-color: #ffffffb2;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-weight: 700;
	color: #0674e7;
}

.service_gallery {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}
.title_gallery {
	font-size: 30px;
	font-weight: 500;
	color: #0674e7;
	padding-bottom: 18px;
	text-decoration: underline;
	padding-top: 15px;
}
.service_gallery-content {
	padding: 20px 0;
}
.service_gallery-content div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* content-parrafo-styles */

.content-service {
	padding-top: 35px;
	padding-bottom: 45px;
	margin: auto;
	width: 100%;
	max-width: 1140px;
	font-family: 'Montserrat', sans-serif;
	display: flex;
}

.service_detail_content {
	margin: auto;
	width: 100%;
	max-width: 1200px;
	display: flex;
	font-family: 'Montserrat', sans-serif;
	padding-top: 35px;
	padding-bottom: 40px;
}

.service_detail {
	width: 50%;
	text-align: left;
	line-height: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.service_detail ul {
	line-height: 35px;
	padding-left: 20px;
}

.service_detail ul li {
	font-size: 15px;
}

.service_detail-img {
	width: 50%;
}

.service_detail-img img {
	box-shadow: 8px 10px 1px #0674e7;
	max-width: 370px;
	width: 100%;
	border-radius: 7px;
}

.detail_request {
	border-top: 1px solid #9c9c9c;
	padding: 18px 0px;
	border-bottom: 1px solid #9c9c9c;
	margin-top: 8px;
	display: flex;
}

.detail_requestTwo {
	padding: 18px 0px;
	border-bottom: 1px solid #9c9c9c;
	margin-top: 8px;
}

.detail_request .whatsapp {
	color: #14b44f;
	border-radius: 5px;
	border: 2px solid #14b44f;
	margin-bottom: 15px;
	text-decoration: none;
	padding: 5px 16px;
	margin: 0 11px;
}

.detail_request .btn_email {
	color: #0674e7;
	border-radius: 5px;
	border: 2px solid #0674e7;
	margin-bottom: 15px;
	text-decoration: none;
	padding: 5px 16px;
	margin: 0 11px;
}
.detail_requestTwo .btn_call {
	color: #39373d;
	border-radius: 5px;
	border: 2px solid #39373d;
	margin-bottom: 15px;
	text-decoration: none;
	padding: 5px 16px;
	margin: 0 11px;
}

/* style box title */
.box_title {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 10px;
	padding-bottom: 35px;
}
.box_title-container {
	width: 280px;
	height: 150px;
	margin: 5px;
	background: #3395ff;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	flex-direction: column;
	color: white;
	cursor: pointer;
	border: none;
	font-size: 18px;
}

.box_title-container p:nth-child(1) {
	padding-bottom: 8px;
}

.box_title-container p:nth-child(2) {
	font-weight: 700;
}
/* style box title */

@media only screen and (max-width: 1440px) {
	.img-small img {
		width: 140px;
		height: 120px;
	}
}

@media only screen and (max-width: 1350px) {
	.img-small img {
		width: 140px;
		height: 120px;
	}
}

@media only screen and (max-width: 1200px) {
	.service_detail_content {
		padding-top: 35px;
		padding-bottom: 40px;
		padding-left: 25px;
		padding-right: 25px;
	}
}

@media only screen and (max-width: 1100px) {
	.detail_request,
	.detail_requestTwo {
		font-size: 14px;
	}
	.detail_request .btn_email {
		margin: 0 3px;
	}
	.detail_request .whatsapp {
		margin: 0 3px;
	}
	.detail_requestTwo .btn_call {
		margin: 0 4px;
	}
}

@media only screen and (max-width: 910px) {
	.service_detail_content {
		display: flex;
		flex-direction: column-reverse;
	}
	.service_detail {
		width: 100%;
	}
	.service_detail-img {
		width: 100%;
		padding-bottom: 22px;
	}
	.header-service {
		height: 155px;
	}

	.content-title {
		font-size: 40px;
	}
	.service_detail ul {
		line-height: initial;
	}
}

@media only screen and (max-width: 600px) {
	.title_gallery {
		font-size: 22px;
	}
	.service_detail_content {
		padding-bottom: 10px;
	}
	.content-link-request {
		padding-top: 22px;
	}
	.detail_request {
		flex-direction: column;
	}
	.header-service {
		height: 115px;
	}
	.content-title {
		font-size: 24px;
		padding: 0 5px;
	}

	.logo img {
		width: 160px;
		padding-left: 7px;
	}
	.box_title {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0 10px;
		padding-bottom: 35px;
	}
	.box_title-container {
		width: 210px;
		height: 130px;
		margin: 5px;
		font-size: 16px;
	}
}

@media only screen and (max-width: 465px) {
	.box_title-container {
		width: 180px;
		height: 100px;
		margin: 5px;
		font-size: 14px;
	}
}

@media only screen and (max-width: 400px) {
	.box_title-container {
		width: 140px;
		height: 80px;
		margin: 5px;
		font-size: 12px;
	}
}
