.content_service-detail {
	font-family: 'Quicksand', sans-serif;
}
.header-service {
	background-size: cover;
	height: 190px;
	font-family: 'Quicksand', sans-serif;
}

.content-product-service {
	max-width: 1140px;
	margin: auto;
	width: 100%;
	font-family: 'Quicksand', sans-serif;
}

.header-content {
	height: 100%;
	background: #03254870;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	color: white;
}

.content-title {
	font-size: 68px;
}

.content_first {
	display: flex;
	padding: 15px;
}

.img_service-first img {
	width: 100%;
	max-width: 400px;
}

.content_second div {
	display: flex;
	cursor: pointer;
	padding-bottom: 27px;
}

.info-second {
	padding-left: 50px;
	font-size: 18px;
	max-width: 61%;
	line-height: 30px;
	text-align: left;
}

.img-small {
	max-width: 200px;
	padding: 5px 10px;
}

.img-small img {
	border: 1px solid #d0d0d0;
	width: 100%;
	border-radius: 5px;
	box-shadow: 4px 5px 6px #00000061;
}

.buttonclass {
	display: flex;
	padding-top: 20px;
}

.onbutton,
.twobutton {
	padding: 0 10px;
}

.onbutton button {
	font-size: 20px;
	background-color: #14b44f;
	padding: 8px 17px;
	border: none;
	border-radius: 8px;
	transition: 0.5s;
	color: white;
}

.twobutton button {
	font-size: 20px;
	background-color: #1299f6;
	padding: 8px 17px;
	border: none;
	border-radius: 8px;
	transition: 0.5s;
	color: white;
}

@media only screen and (max-width: 1400px) {
	.content-title {
		font-size: 50px;
	}
}

@media only screen and (max-width: 1140px) {
	.information {
		padding: 0 25px;
	}
	.content-payment {
		margin-left: 25px;
	}
	.content-payment {
		font-size: 16px;
	}
	.icon-column .i-pago {
		font-size: 28px;
	}
	.icon-column .i-pago img {
		height: 26px;
	}
	.icon-column .pago {
		font-size: 13px;
	}
	.lista-tres {
		padding: 0 20px;
	}
}

@media only screen and (max-width: 960px) {
	.content-service {
		flex-direction: column-reverse;
	}
	.info-images {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.info-images .img {
		padding: 10px;
		padding-bottom: 15px;
	}
	.info-parrafo {
		width: 100%;
	}
	.content-payment {
		margin: 0 16px;
		margin-top: 20px;
	}
}

@media only screen and (max-width: 586px) {
	.img-product {
		max-width: initial;
	}
	.content-pay {
		display: initial;
		border-left: none;
	}
	.columnOne,
	.columnTwo {
		width: auto;
	}
	.i-pago i {
		margin: 0 20px;
	}
	.icon-column .i-pago {
		padding: 0 51px;
	}
	.columnOne,
	.columnTwo {
		border-left: 1px solid#987acd;
	}
	.info-parrafo .information {
		font-size: 15px;
		line-height: initial;
	}
	.header-service-2,
	.header-service-3,
	.header-service,
	.header-product-1,
	.header-contact-1 {
		height: 80px;
	}
	.content-title {
		font-size: 40px;
	}
}

@media only screen and (max-width: 576px) {
	.lista-tres {
		flex-direction: column-reverse;
	}
	.img-product {
		padding: 17px 0 0 0;
	}
	.img-product img {
		width: 100%;
	}
	.info-product {
		padding: 0px;
	}
	.info-product-withoutScroll {
		padding: 0px;
	}
}

@media only screen and (max-width: 480px) {
	.content-title {
		font-size: 20px;
	}
	.content-service {
		padding-top: 17px;
		padding-bottom: 24px;
	}
}
